<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{basepath}}/static/css/sakura-earthly.css" media="screen"/>
    <link rel="stylesheet" href="{{basepath}}/static/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)"/>
    <link rel="stylesheet" href="{{basepath}}/static/css/offa.css"/>
</head>
<body>
<h3>Error {{error}}</h3>
<p>{{error_message}}</p>
<a href="{{paths.login}}">Back to Login</a>
</body>
</html>