<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{basepath}}/static/css/sakura-earthly.css" media="screen" />
    <link rel="stylesheet" href="{{basepath}}/static/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)" />
    <link rel="stylesheet" href="{{basepath}}/static/css/offa.css" />
</head>
<body>
<h2>{{client_name}}</h2>
{{#logo_uri}}
    <img src="{{.}}" alt="Logo" class="logo"/>
{{/logo_uri}}

<h4>Choose an OP to login</h4>
<form action="" id="form">

    <div class="dropdown">
        <div class="dropdown-toggle">
            <span>Select OP</span>
        </div>
        <div class="dropdown-menu">
            <input type="text" placeholder="Search...">
            {{#ops}}
                <div class="option"
                     data-value="{{EntityID}}"
                     data-tags="{{Keywords}}">
                    {{#LogoURI}}
                        <img src="{{.}}" alt="Logo">
                    {{/LogoURI}}
                    {{DisplayName}}
                </div>
            {{/ops}}
        </div>
    </div>

    <input type="hidden" name="iss" id="issuer"/>
    <input type="hidden" name="next" value="{{next}}" />
</form>
</body>
<script src="{{basepath}}/static/js/login.js"></script>
</html>